body{
    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: Arial;
    background-color: whitesmoke;
    font-size: 20px;
}
.formsData{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
}
input{
    margin: 5px;
    width: 240px;
}
button{
    font-size: 20px;
    background-color: rgb(0, 140, 0);
    border-style: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}