<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        Struct slice -> struct -> coluns struct
        viewAll -> Coluns -> NomeProd
    -->
    {{ range .ViewAll }}
        <div>
            <h1>{{ .NomeProd }}</h1>
            <ul>
                <li>
                    <p>Preço: {{ .Preco }}</p>
                </li>
                <li>
                    <p>Ano de vencimento: {{ .ValAno }}</p>
                </li>
                <li>
                    <p>Codigo de barras: {{ .CodeBar }}</p>
                </li>
            </ul>
        </div>
    {{ end }}
</body>
</html>